.chatbox-section {
  height: 100%;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 0px 5px 0px #e6e5ed;
  position: relative;

  .title {
    background: #3188bc;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
    padding-top: 4px;
    padding-left: 10px;
    position: absolute;
    width: 100%;
  }
  .content {
    position: relative;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .message-container {
    height: 100%;
    padding: 5px 10px;
    overflow-y: auto;
  }
  .message-item {
    padding: 5px;
    width: auto;
    text-align: left;
  }
  .message-item .message {
    background-color: #e6e5ed;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    color: #666666;
    display: block;
    display: inline-block;
    white-space: pre-wrap;
  }
  .message-item-user {
    text-align: right;
  }
  .message-item .message-user {
    color: white;
    background-color: #3188bc;
  }
  .sent-details .time {
    font-style: italic;
    color: #cccccc;
  }
  .input-text-container {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .input-text {
    border: 1px solid #cccccc;
    resize: none;
    height: 100%;
    padding: 12px 10px;
    padding-right: 25px;
    &:focus {
      border: 1px solid #3188bc;
    }
  }
  .send-button {
    width: 20px;
    height: 25px;
    padding: 0;
    position: absolute;
    bottom: 14px;
    right: 10px;
    background: transparent;
    border: none;
    border-radius: 10px;
  }
  .send-icon {
    width: 20px;
    border-radius: 10px;
  }
}
