.videos-section {
  height: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 8px 2px #e6e5ed;
  position: relative;

  .title {
    color: white;
    height: 30px;
    padding-top: 4px;
    padding-left: 10px;
    background-color: #393864;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: absolute;
    width: 100%;
  }
  .content {
    position: relative;
    height: 100%;
    padding: 0 20px;
    text-align: center;
    overflow-y: auto;
    padding: 40px 10px 10px 10px;
  }
  .item-user {
    height: 25%;
  }
  .user-video {
    height: 75%;
    width: 100%;
    text-align: center;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e6e5ed;
    &:hover {
      background-color: white;
      border: 3px solid #e6e5ed;
    }
  }
  .video-icon {
    color: #666666;
    font-size: 30px;
    display: block;
    height: 100%;
  }
  .video-icon.anticon svg {
    height: 100%;
  }
  .user-fullname {
    font-size: 12px;
    display: block;
    font-weight: 600;
  }
  .fullname-icon {
    margin-right: 5px;
  }

  @media only screen and (max-width: 991px) {
    .item-user {
      width: 50%;
      display: inline-block;
      padding: 10px;
      height: 50%;
    }
  }
  @media only screen and (max-width: 576px) {
    .item-user {
      max-width: 200px;
      width: 100%;
      min-width: 100;
      display: block;
      padding: 10px;
      height: 25%;
      margin: auto;
    }
  }

  .modal-user-video.ant-modal {
    width: 60% !important;
    height: 80%;
    min-width: 500px;
  }
  .modal-user-video.ant-modal .ant-modal-header {
    border-radius: 20px;
    border-bottom: none;
  }
  .modal-user-video.ant-modal .ant-modal-content {
    border-radius: 20px;
    height: 100%;
  }
  .modal-user-video .ant-modal-body {
    padding: 0 20px 80px 20px;
    height: 100%;
  }
  .modal-user-video .video-container {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #e6e5ed;
    &:hover {
      background-color: white;
      border: 3px solid #e6e5ed;
    }
  }
  .modal-user-video .video-icon {
    font-size: 80px;
  }
}
