.writing-board-section {
  min-height: 600px;
  border-radius: 5px;
  background: white;
  box-shadow: 1px 2px 8px 2px #cccccc;
.board-disable {
  pointer-events:none
}
  .title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
    padding-top: 4px;
    padding-left: 10px;
  }
  .content {
    position: relative;
    padding: 0 10px;
  }
}
