.classroom-section {
  @import './chatbox';
  @import './documents';
  @import './videos';
  @import './wriitng-board';

  width: 100%;
  min-height: 600px;
  height: 100vh;
  display: block;
  background-color: #f3f8fb;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;

  .classroom-item {
    height: 100vh;
    // min-height: 600px;
    padding: 10px;
  }

  .classroom-item .classroom-item-right {
    height: 50%;
    &:first-child {
      padding-bottom: 20px;
    }
  }
}
