.writing-board-section {
  padding: 0px 15px;
  padding-bottom: 10px;

  .add-image-btn {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .round-btn {
    margin-left: 10px;
  }
}
